header{
    background-color: #a1d0df;
    height: 168px;
    width: 1920px;
    display: inline;
    font-size: 15px;
    text-align: center;
    color: black;
}
main{
    background-color: #2844a8;
}
footer{
    background-color: #a1d0df;
}
h1{
    text-align: center;
    font-size: 30px;
    color: white;
}
