header{
    background-color: #a1d0df;
    display: inline;
    font-size: 15px;
    text-align: center;
    color: black;
}
main{
    background-color: #2844a8;
}
footer{
    background-color: #a1d0df;
    padding: 0px;
}
h1{
    text-align: center;
    font-size: 30px;
    color: white;
}
h2{
    text-align: center;
    font-size: 30px;
    color: white;
}
.card{
    background-color: #a1d0df;
    text-align: center;
}