header{
    background-color: #a1d0df;
    display: inline;
    font-size: 15px;
    text-align: center;
    color: black;
}
main{
    background-color: #2844a8;
    height: 600px;
}
footer{
    background-color: #a1d0df;
    height: 100px;
    padding: 50px;
}
h1{
    text-align: center;
    font-size: 30px;
    color: white;
}
h2{
    text-align: center;
    font-size: 30px;
    color: white;
}
.card{
    background-color: #a1d0df;
    text-align: center;
    max-width: 200px;
}

#endTxt{
    color: black;
    font-size: large;
}

#tortenetModal2{
    min-width: 660px;
}
